
.header__navbar-item:hover .nav-dropdown{
    display: block;
    
}
.header__navbar-item{
    position: relative;
}
.menu-item:hover .menu-image-title-after{
    background-color: rgba(231, 229, 229, 0.925);
}
.nav-dropdown {
    position: absolute;
    width: 260px;
    top: 50px;
    left: 0px;
    background-color: #fff;
    font-size: 100%;
    border-radius: 5px;
    display:none;
    text-align: left;
    border: 2px solid #ddd;
    padding: 0 0 20px;
    margin: 0;
}

ul.nav-dropdown.nav-dropdown-simple {
    margin-top: 8px;
}
.nav li:first-child {
    margin-left: 0 !important;
}
.nav-dropdown li {
    display: block;
    margin: 0;
}
.nav-dropdown>li>a, .nav-column>li>a {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}

.nav>li>a, .nav-dropdown>li>a, .nav-column>li>a {
    color: rgba(102,102,102,0.85);
    transition: all .2s;
}
.nav-column li>a, .nav-dropdown>li>a {
    width: auto;
    display: block;
    padding: 10px 20px;
    line-height: 1.3;
}
.nav-dropdown:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.title-upercase{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #000;
}
.flex-div{
    display: flex;
    justify-content: space-between;
}